In [8]:
import pandas as pd

In [26]:
key_pairs = pd.read_csv("key_pairs.csv", delimiter=",", index_col = 1)

In [27]:
key_pairs

      Pub
 Priv
1       a
6       b
4       g
7       z
9       m

In [28]:
data_key_pairs = pd.read_csv("data_key_pair.csv", delimiter=",", index_col = 0)

In [29]:
data_key_pairs

                 data
Priv
1            "Trauma"
9         "No effect"
6      "Slight Fever"

In [32]:
joined_data = data_key_pairs.join(key_pairs)

In [33]:
joined_data.to_csv('joined_data.csv')

TypeError: to_csv() got an unexpected keyword argument 'delimiter'