In [8]:
import pandas as pd

In [35]:
key_pairs = pd.read_csv("key_pairs.csv", delimiter=",", index_col = 1)

In [36]:
key_pairs

      Pub
 Priv
1       a
6       b
4       g
7       z
9       m

In [37]:
data_key_pairs = pd.read_csv("data_key_pair.csv", delimiter=",", index_col = 0)

In [38]:
data_key_pairs

           data
Priv
1        Trauma
9         Fever
6      Headache

In [39]:
joined_data = data_key_pairs.join(key_pairs)

In [40]:
joined_data.to_csv('joined_data.csv')